﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>Hello, @User.Identity.Name!</p>
}
else
{
    <p>Please, authenticate</p>

    <form action="@Url.Action("GoogleLogin", "Account")" method="post">
        <input type="hidden" name="returnUrl" value="@Url.Action("Index", "Account")" />
        <button class="btn btn-primary" type="submit">Log In via Google</button>
    </form>
}